.tag {
  border-radius: 50px;
  border: 1px solid #ebebeb;
  padding: 10px;
  background-color: #ebebeb;
  margin: 5px;
}
.text {
  padding: 10px;
}
.rightIcon {
  float: right;
  color: #767676;
  cursor: pointer;
}
